<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
  <add name="connstrng" connectionString="Data Source=MSI;Initial Catalog=AnyStore;Integrated Security=True;Trusted_Connection=True" />
  <add name="AnyStore.Properties.Settings.AnyStoreConnectionString"
   connectionString="Data Source=MSI;Initial Catalog=AnyStore;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
   providerName="Microsoft.Data.SqlClient" />
 </connectionStrings>
</configuration>